[Unit]
Description=Distributed Motion Surveillance (DMS) Client
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/ruby /etc/distributed-motion-surveillance/dms_client/client_start.rb


[Install]
WantedBy=multi-user.target
